photo-slider {
	width:100%;
	height:auto;
}
img.welcome{
	min-width:100%;
	min-width:1024px;
	height:auto;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	opacity: 1;
	transition: opacity 0.7s ease;
}

.welcome-logo{
	transition:background-color .3s ease;
	content:url(/images/logo_full_transparent.png);
	background-color: rgba(42,42,42, 0.3);
	max-width:130px;
	clear:both;
	display:block;
	float:right;
	margin-right:21px;
}

.welcome-logo:hover{
	background-color:rgba(42,42,42,.7);
}

img.welcome.ng-hide {
  display: block!important;
}

img.welcome.ng-hide {
  	opacity: 0;
}

div.center-navigation {
	left:50%;
	position: absolute;
	bottom:30px;
}

button.welcome-button{
	transition:background-color .3s ease;
	background-color:rgba(42,42,42,.5);
	border:solid white 1px;
	font-size:28px;
	font-weight:100;
	color:#fff;
	margin-top: 10px;
	margin-left: -75px;
	letter-spacing:11px;
	padding: 0 0 0 12px;
}

button.welcome-button:hover{
	background-color:rgba(42,42,42,.9);
}

a.arrow {
	position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
}
a.arrow.prev {
	opacity: 0.8;
    left: 20px;
    transition: 0.2s linear all;
	background-image:url(/images/prev_999.png);
}
a.arrow.next {
	opacity: 0.8;
    right: 20px;
    transition: 0.2s linear all;
	background-image:url(/images/next_999.png);
}
a.arrow.prev:hover {
    opacity: 1;
    background-image: url(/images/prev_fff.png);
}

a.arrow.next:hover {
    opacity: 1;
    background-image: url(/images/next_fff.png);
}

.nav ul {
    margin: 0;
    width: 100%;
}
/*.nav.above-enter-button ul {
	display: block;
}
.nav.below-photo ul{
	display: none;
	position: absolute;
	left:50%;
	top:65%;
}*/

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 5px;
    width: 12px;
    height: 4px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    margin-left: -105px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: rgba(200,200,200,.7);
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border: 1px solid rgba(200,200,200,.7);
    background-color: rgba(30,30,30,.4);
}


/*mobile view*/
@media screen and (max-width:900px) {
	/*.nav.below-photo ul {
		display: block;
	}*/
	.dots .dot {
	    /*margin: 0 4px;*/
	    width: 10px;
	}
	.dots .dot a {
	    margin-left: -98px;
	}


	.welcome-logo{
		transition:background-color .3s ease;
		content:url(/images/logo_concise_transparent.png);
		width:10%;
		min-width: 50px;
		max-width: 80px;
		margin-right:3%;
		margin-top:1%;
	}
	img.welcome{
		/*left: 50%;
    margin-left: -512px; */  /* 50% */
		/*min-width:100%;*/
		min-width:100%;
		min-height:initial;
		/*min-height: 60%;*/
		/*left:50%;*/
		/*margin-left: -200px;*/
	}

	button.welcome-button,
	{
		font-size: 22px;
		letter-spacing:7px;
		padding: 0 0 0 10px;
		margin-left: -45px;
		border:solid white 1px;
	}
	/*button.welcome-button :focus{
		background-color: transparent !important;
	}*/
	a.arrow {
		display: none;
	}
}

/*ipad when landscape*/
@media screen and (max-width:900px) and (orientation: landscape){
	
	img.welcome{
		/*left: 50%;
    margin-left: -512px; */  /* 50% */
		/*min-width:100%;*/
		bottom:0;
		top:initial;
		/*min-height: 60%;*/
		/*left:50%;*/
		/*margin-left: -200px;*/
	}
}
/*ipad when portrait*/
@media screen and (max-width:900px) and (orientation: portrait){
	
	/*.dots .dot {
		height:140px;
	}*/

	img.welcome{
		/*left: 50%;
    margin-left: -512px; */  /* 50% */
		/*min-width:100%;*/
		min-width:100%;
		min-height:initial;
		max-height: 70%;
		top:20%;
		/*min-height: 60%;*/
		/*left:50%;*/
		/*margin-left: -200px;*/
	}
	button.welcome-button{
		bottom:5%;
	}
}

/*iphone when landscape*/
@media screen and (max-width:700px) and (orientation: landscape){
	button.welcome-button
	{
		font-size: 20px;
		letter-spacing:5px;
		padding: 0 0 0 8px;
		margin-left: -45px;
		border:solid white 1px;
	}
	.dots .dot {
	    width: 5px ;
	}
	.dots .dot a {
	    margin-left: -86px ;
	}
}