<div ng-controller="GalleryCtrl">
    <photo-active-tag>
        <form ng-submit="addActiveTag()">
            <input class="input-block-level" placeholder="Search through the album.." type="text" ng-model="activeTag">
            <input type="submit" id="submit" value="Submit" />
            <pre>list={{activeTagList}}</pre>
        </form>
        <a href="" ng-click="activeTag='Chicago'; addActiveTag()">Chicago</a>
        <a href="" ng-click="clearActiveTagList()">Clear</a>
        </photo-active-tag>
    <photo-slider>
        <div ng-repeat="photo in filtered = (album | filterPhoto: activeTagList)" ng-show="photo.visible">
            <img class="img-responsive" ng-src="{{photo.image}}">
                <div class="caption">
                    {{photo.city}}, {{photo.country}} ({{photo.year}})
                </div>
        </div>
    <div class="arrows">
        <a href="" ng-click="prev()">
            Prev
        </a>
        <a href="" ng-click="next()">
            Next
        </a>
        </div>
    </photo-slider>
</div>
