<div ng-controller="GalleryCtrl">
    <photo-active-tag>
        <form ng-submit="addActiveTag(activeTag)">
            <input class="input-block-level" placeholder="Search through the album.." type="text" ng-model="activeTag">
            <input type="submit" id="submit" value="Submit" />
        </form>
        <div class="btn-group">
            <span ng-repeat = "tagButton in tagButtons">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{tagButton.first}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="tagDropDown in tagButton.second">
                  <a href="" ng-click="addActiveTag(tagDropDown)">{{tagDropDown}}</a>
                  </li>
              </ul>
            </span>
        </div>
        <div ng-repeat = "photoTag in activeTagList">
                {{photoTag}} <a href="" ng-click="removeActiveTag($index)">x</a>
        </div>
        </photo-active-tag>
    <photo-slider>
        <div ng-repeat="photo in filtered = (album | filterPhoto: activeTagList | orderBy: '-year')" ng-show="photo.visible">
            <a href="" ng-click="next()"><img class="img-responsive" ng-cloak ng-src="{{photo.image}}"></a>
                <div class="caption">
                    {{photo.city}}, {{photo.country}} ({{photo.year}})
                </div>
        </div>
        <div class="arrows">
            <a href="" ng-click="prev()">
                Prev
            </a>
            <a href="" ng-click="next()">
                Next
            </a>
        </div>
    </photo-slider>
</div>
